In [1]:
import numpy as np

In [3]:
a=np.array([1,2,3])
b=np.array([3,1,2])

a>b

array([False,  True,  True])

In [6]:
x=3
y=2
x==y

False

In [13]:
num = 2

if num > 0:
    print(num, "is a positive number.")
    if num==3:
        print("Condition is satisfied")

print("This is always printed.")

2 is a positive number.
This is always printed.

In [10]:
num = -1
if num > 0:
    print(num, "is a positive number.")
    print("Condition is satisfied")
print("This is also always printed.")

This is also always printed.

In [15]:
num = -1

if num >= 0:
    print("Positive or Zero")
else:
    print("Negative number")

Negative number

In [21]:
num = 6

if num > 3:
    print("Large")
elif num>5: # 실제 쓰면 안되는 코딩
    print("Small")
elif num == 0:
    print("Zero")
else:
    print("Negative")

Large

In [26]:
A="Being"

try:
    int(A)
    print(A)
except:
    print("Not a number")

Not a number

In [28]:
A=True
B=False
not (A and B)

True

In [30]:
height=150
grade=90

if height>170 and grade>80:
  print("Smart and Tall")
else:
  print("Not [Smart and  Tall]")

Not [Smart and  Tall]

In [32]:
# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    print("The value is", val)
    sum = sum + val
    print("The sum up to now is", sum)

print("The sum is", sum)

The value is 6
The sum up to now is 6
The value is 5
The sum up to now is 11
The value is 3
The sum up to now is 14
The value is 8
The sum up to now is 22
The value is 4
The sum up to now is 26
The value is 2
The sum up to now is 28
The value is 5
The sum up to now is 33
The value is 4
The sum up to now is 37
The value is 11
The sum up to now is 48
The sum is 48

In [36]:
# List of numbers
strings = ["pop","rock","jazz"]
strings2 = ["pizza","pasta","salad"]

# iterate over the list
for string in strings:
    print("The string is", string)
# 일반적으로 좋은 경우
for ii in range(len(strings)):
    print("The string is", strings[ii])
    print("The food is", strings2[ii])

The string is pop
The string is rock
The string is jazz
The string is pop
The food is pizza
The string is rock
The food is pasta
The string is jazz
The food is salad

In [37]:
# Using enumerate with a start index
for index, value in enumerate(numbers, start=1):
    print(f"Index: {index}, Value: {value}")

# Two lists
names = ["Alice", "Bob", "Charlie"]
scores = [85, 90, 88]

# Using zip to iterate over both lists
for name, score in zip(names, scores):
    print(f"{name} scored {score}")

Index: 1, Value: 6
Index: 2, Value: 5
Index: 3, Value: 3
Index: 4, Value: 8
Index: 5, Value: 4
Index: 6, Value: 2
Index: 7, Value: 5
Index: 8, Value: 4
Index: 9, Value: 11
Alice scored 85
Bob scored 90
Charlie scored 88

In [40]:
n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i  # Add i to sum
    i = i + 1      # Increment the counter

# print the sum
print("The sum is", sum)
i

The sum is 55

11

In [41]:
scores = [85, 90, 88]
scores[1]

90

In [50]:
import numpy as np
A=[[1,2,3],[4,5,6]]
A_np=np.array(A)
A_np

for ii in range(2): # range(2)=[0,1]
  if ii==1:
    break
  for jj in range(3):# range(3)=[0,1,2]
    print(A_np[ii,jj])
    if jj==1:
      break

1
2

In [52]:
for val in "string":
    if val == "i":
        #continue
        #break
    print(val)

print("The end")

s
t
r
The end

In [54]:
def greet(name):
    """This function greets to
    the person passed in as
    parameter"""
    print("Hello, " + name + ". Good morning!")

greet('Paul')
greet("John")

Hello, Paul. Good morning!
Hello, John. Good morning!

In [55]:
def absolute_value(num):
    """이 함수는 입력된 숫자의 절댓값을 반환합니다."""

    if num >= 0:
        # 숫자가 0 이상이면 그대로 반환
        output= num
    else:
        # 숫자가 음수이면 양수로 바꿔서 반환
        output= -num
    return output

In [57]:
absolute_value(3)

3

In [59]:
#my_func(3)
# 원칙적으로 함수 안에서 정의된 값은 밖으로 나가지 않는다.
def my_func():
    x = 10  # 함수 내에서 정의된 지역 변수
    print("Value inside function:", x)

Value inside function: 10
Value outside function: 20

In [60]:
x = 20  # 전역 변수
my_func()  # 함수 호출
print("Value outside function:", x)  # 전역 변수 출력

Value inside function: 10
Value outside function: 20

In [61]:
def greet(name, msg):
    """This function greets to the person with the provided message"""
    print("Hello", name + ', ' + msg)

greet("Monica", "Good morning!")

Hello Monica, Good morning!

In [62]:
def add_and_subtract(a, b):
    """두 수의 합과 차를 반환하는 함수"""
    sum_result = a + b
    diff_result = a - b
    return sum_result, diff_result  # 두 값을 튜플로 반환

result_sum, result_diff = add_and_subtract(10, 5)

print("Sum:", result_sum)      # 출력: Sum: 15
print("Difference:", result_diff)  # 출력: Difference: 5

Sum: 15
Difference: 5

In [63]:
def greet(name, msg = "Good morning!"):
    print("Hello", name + ', ' + msg)

greet("Kate")
greet("Bruce", "How do you do?")

Hello Kate, Good morning!
Hello Bruce, How do you do?

In [66]:
def greet(name, msg ):
    print("Hello", name + ', ' + msg)

greet("Kate")
greet("Bruce", "How do you do?")

TypeError: greet() missing 1 required positional argument: 'msg'

In [68]:
# 2 keyword arguments
greet(name = "Bruce", msg = "How do you do?")

# 2 keyword arguments (out of order)
greet(msg = "How do you do?", name = "Bruce")


# 1 positional, 1 keyword argument
greet("Bruce", msg = "How do you do?")

Hello Bruce, How do you do?
Hello Bruce, How do you do?
Hello Bruce, How do you do?

In [69]:
# keyword arguments first
greet(msg = "How do you do?","Bruce")

SyntaxError: positional argument follows keyword argument (ipython-input-2515860115.py, line 2)

In [72]:
x = "global2"  # 전역 변수 x 정의
y = "outside"

def foo():
    global x  # 전역 변수 x 사용
    y = "local"  # 함수 내에서 정의된 지역 변수 y
    x = x * 2  # 전역 변수 x의 값을 2배로 변경
    print(x)  # 변경된 전역 변수 x 출력
    print(y)  # 지역 변수 y 출력

foo()  # 함수 호출
print(x)  # 변경된 전역 변수 x 출력
print(y)

global2global2
local
global2global2
outside

In [73]:
c = 0  # 전역 변수 c 정의

def add():
    global c  # 전역 변수 c 사용
    c = c + 2  # c 값을 2 증가
    print("Inside add():", c)  # 함수 내에서의 c 값 출력

add()  # 함수 호출
print("In main:", c)  # main 함수에서의 c 값 출력

Inside add(): 2
In main: 2

In [74]:
c = 0  # 전역 변수 c 정의

def add():
    # 전역 변수 c 변화 불가
    c = c + 2  # c 값을 2 증가
    print("Inside add():", c)  # 함수 내에서의 c 값 출력

add()  # 함수 호출
print("In main:", c)  # main 함수에서의 c 값 출력

UnboundLocalError: cannot access local variable 'c' where it is not associated with a value

In [75]:
c = 0  # 전역 변수 c 정의

def add():
    x = c + 2  # c 값을 2 증가
    print("Inside add():", x)  # 함수 내에서의 c 값 출력

add()  # 함수 호출
print("In main:", c)  # main 함수에서의 c 값 출력

Inside add(): 2
In main: 0

In [76]:
c = 0  # 전역 변수 c 정의

def add(c):
    x = c + 2  # c 값을 2 증가
    print("Inside add():", x)  # 함수 내에서의 c 값 출력

add(3)  # 함수 호출
print("In main:", c)  # main 함수에서의 c 값 출력

Inside add(): 5
In main: 0