In [1]:
A="Hello"

In [2]:
B='Hello'

In [3]:
A==B

True

In [4]:
int("A")

ValueError: invalid literal for int() with base 10: 'A'

In [5]:
int(1.1)

1

In [7]:
 type("Hello World")
 type(True) # 약속어, #-> 커멘트

bool

In [10]:
# 몫을 구한다
50//12
50//10

5

In [13]:
5**2 # 5^2, 제곱
5**3

125

In [24]:
 # minute 을  hour로 바꾸는 연산
minute2=215
hour=minute2/60
print(hour)

3.5833333333333335

In [25]:
A

'Hello'

In [28]:
# 파이썬 순서는 0에서 부터 시작
A[1] # 문자열이란 것은 문자들의 모임 (순서가 있는 모임)
A[0]
A[4]

'o'

In [33]:
AA="Hello World" # 공백열도 순서에 들어간다
AA[6]
AA.upper() # 연산이 가능, 메소드 적용이 가능
type(minute)
minute.upper() # 자료형에 따라서 쓰는 연산이 다르다

AttributeError: 'int' object has no attribute 'upper'

In [35]:
AA[-1] # Reverse Indexing 가능, R은 없음
AA[-2]

'l'

In [37]:
AA[1:3] # 파이썬 인덱싱의 특징: 마지막이 안들어간다 특징
len(AA) # 순열(sequence)의 길이를 표시

11

In [38]:
# 변수 'name'에 "MICHAEL JORDAN" 문자열을 할당
name = "MICHAEL JORDAN"

# 변수 'player'에 "is the best basketball player" 문자열을 할당
player = "is the best basketball player"

# 'name'과 'player'를 합쳐서 'statement' 변수에 저장
# 공백을 추가하여 두 문자열 사이에 간격을 줌 (->문자열끼리 더하기는 붙여서 늘리기다)
statement = name + " " + player

# 결과를 출력
print(statement)

MICHAEL JORDAN is the best basketball player

In [43]:
fruit="banana"
fruit[:3]
fruit[3:]
AA[0]="J"

TypeError: 'str' object does not support item assignment

In [45]:
"ana" in "banana"
dir(fruit)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [51]:
t = tuple('lupins')  # 'lupins'라는 문자열을 튜플로 변환
print(t)
t = ('a', 'b', 'c', 'd', 'e')  # 튜플을 새로 할당
print(t)
print(t[0])  # 첫 번째 요소 출력
print(t[1:3])  # 1번 인덱스부터 3번 인덱스 직전까지의 요소 출력
#t[0] = 'A'  # 오류 발생
t = ('A',) + t[1:]  # 튜플의 첫 번째 값을 'A'로 바꾸기

('l', 'u', 'p', 'i', 'n', 's')
('a', 'b', 'c', 'd', 'e')
a
('b', 'c')

In [52]:
t = (1,"CA")

In [53]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [17, 123]
empty = []
print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [17, 123] []

In [57]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
print(cheeses[0])  # 첫 번째 치즈 출력
'Edam' in cheeses  # 'Edam'이 cheeses에 있는지 확인
'Brie' in cheeses  # 'Brie'가 cheeses에 있는지 확인

numbers = [17, 123]
numbers[1] = 5  # numbers 리스트의 두 번째 요소 변경
print(numbers)  # 변경된 numbers 리스트 출력

Cheddar
[17, 5]

In [58]:
a = [1, 2, 3]  # 리스트 a
b = [4, 5, 6]  # 리스트 b
c = a + b  # 리스트 a와 b를 합침
print(c)  # 리스트 c 출력

[1, 2, 3, 4, 5, 6]

In [59]:
import numpy as np

In [60]:
a_np=np.array(a)
b_np=np.array(b)
print(a_np+b_np)

[5 7 9]

In [61]:
t1 = ['a', 'b', 'c']  # 리스트 t1
t2 = ['d', 'e']       # 리스트 t2
t1.extend(t2)         # t1에 t2의 요소들을 추가 t1=t1+t2
print(t1)             # t1 출력

['a', 'b', 'c', 'd', 'e']

In [62]:
t1 = ['a', 'b', 'c']  # 리스트 t1
t2 = ['d', 'e']       # 리스트 t2
t1.append(t2)         # t1에 t2의 요소들을 추가 t1=t1+t2
print(t1)             # t1 출력

['a', 'b', 'c', ['d', 'e']]

In [65]:
nums=np.array([1,2,3,34])
np.sum(nums)
np.mean(nums)

np.float64(10.0)

In [69]:
my_dict = {'name':'Jack', 'age': 26}
print(my_dict['name'])  # 딕셔너리에서 'name' 키에 해당하는 값 출력
print(my_dict.get('age'))  # 딕셔너리에서 'age' 키에 해당하는 값 출력
my_dict.get('height') # 문제 없음, 오류
my_dict['height'] # 문제 있음, 오류

Jack
26

KeyError: 'height'

In [70]:
# update value
my_dict['age'] = 27  # 'age' 키의 값을 27로 업데이트
print(my_dict)  # 업데이트된 딕셔너리 출력

# add item
my_dict['address'] = 'Downtown'  # 새로운 키 'address'를 추가하고 값 'Downtown' 할당
print(my_dict)  # 새로운 항목을 추가한 딕셔너리 출력

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [76]:
eng2sp = {'one': 'uno', 'two': 'dos', 'three': 'tres'}
print(eng2sp)  # 딕셔너리 출력
print(eng2sp['two'])  # 'two' 키에 해당하는 값 출력
#print(eng2sp['four'])  # 'four' 키에 대한 접근 (키가 없어서 오류 발생)

# Membership Operation
'one' in eng2sp  # 'one' 키가 딕셔너리에 있는지 확인
'uno' in eng2sp  # 'uno' 값이 딕셔너리의 키로 존재하는지 확인
vals = list(eng2sp.values())  # 딕셔너리의 모든 값을 리스트로 변환
print(vals)
'uno' in vals

{'one': 'uno', 'two': 'dos', 'three': 'tres'}
dos
['uno', 'dos', 'tres']

True